


html,
body,
header {
  background-color: #252423;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.content {
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.ready .content {
  opacity: 1;
}

/* Headers */

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: space-between;
  opacity: .8;
  width: 100%;
  height: 20px;
  text-decoration: none;
  color: currentColor;
}

.logo:visited {
  color: currentColor;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.logo:hover {
  opacity: 1;
}

.site-title {
  opacity: .6;
  color: currentColor;
}

header {
  position: sticky;
  top:0px;
  z-index:2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(0,0,0,.65);
}

h2 {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 200;
}

/* Panes */

.pane {
  position: relative;
  height: 100%;
}

/* Visualization pane */
.visualization {
  flex-direction: column;
  font-size: 16px;
  line-height: 22px;
}

.canvas-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
}

.visualization pre {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
}


.visualization p {
  margin-bottom: 20px;
}


.visualization p.bubble {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}




.visualization pre {
  margin-bottom: 20px;
}

.visualization pre code {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  background-color: rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
}

.visualization p code {
  position: relative;
  padding: 0 2px;
  height: 20px;
  background-color: rgba(0,0,0,.2);
  box-shadow: inset 0 0 1px rgba(0,0,0,.4);
  border-radius: 3px;
}

.visualization table {
  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,.15);
  border-spacing: 0;
  border-radius: 3px;
}

.visualization td {
  vertical-align: middle;
  padding: 8px 12px;
  border-left: 1px solid rgba(255,255,255,.15);
  border-top: 1px solid rgba(255,255,255,.15);
}

.visualization thead td {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: rgba(255,255,255,.4);
  border-top: none;
}

.visualization td:first-child {
  border-left: none;
}

.code-preview {
  width: 100%;
  padding-top: 40px;
}

.code-preview h2 {
  margin-bottom: 20px;
}

/* Demos */

.poems {
  overflow-y: scroll;
  width: calc(50% - 240px);
  min-width: 330px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.poem {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding-top: 35px;
  border-bottom: 1px solid rgba(0,0,0,.65);
  cursor: pointer;
}

.demo-description {
  display: none;
}

.demo.controls {
  padding-top: 50px;
}

.demo.active.controls {
  cursor: default;
}

.demo:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.demo.active:before {
  opacity: .05;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

.demo-content.vertical {
  flex-direction: row;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 23px 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F6F4F2;
  opacity: .9;
}

.active .demo-title {
  color: currentColor;
  opacity: 1;
}

.line {
  width: 100%;
  padding: 1px 0px;
}

.line.align-center {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  opacity: .4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.controls button {
  position: relative;
  display: block;
  margin: 0 0 0 -1px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid currentColor;
  background-color: transparent;
  color: currentColor;
}

.controls button:focus {
  outline: none;
}

.active .controls {
  opacity: 1;
}

.active .controls button:after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.active .controls button:hover:after {
  opacity: .2;
}

.controls button.is-active:after,
.controls button.is-active:hover:after {
  opacity: .4;
}

.controls button:first-child {
  margin-left: 0;
}

.controls input {
  margin-left: 10px;
}

.text-output {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: currentColor;
  text-align: center;
  background-color: transparent;
  border: 1px solid currentColor;
}

.log {
  width: 100%;
  height: 100%;
  background: transparent;
  color: currentColor;
  border: none;
  font-size: 16px;
  text-align: center;
}

.bottom.log {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logs {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
}

.log:focus {
  outline: none;
}

input.progress {
  cursor: ew-resize;
}

input.progress[value] {
  position: relative;
  width: 100%;
  height: 27px;
  -webkit-appearance: none;
  background-color: transparent;
  color: currentColor;
}

input.progress[value]:focus {
  outline: none;
}

input.progress[value]:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

input.progress[value]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: currentColor;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.square,
.circle {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
}

.circle {
  border-radius: 50%;
}

.square.outline,
.circle.outline {
  background-color: transparent;
  border: 1px solid currentColor;
}

.triangle {
  pointer-events: none;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 24px 14px;
  border-color: transparent transparent currentColor transparent;
}

.small {
  width: 18px;
  height: 18px;
}

.small.triangle {
  border-width: 0 10px 17px 10px;
}

.large {
  width: 48px;
  height: 48px;
}

.stretched {
  height: 2px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.label {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: auto;
  padding-left: 38px;
  transition: opacity .5s ease;
  white-space: nowrap
}

.demo.active .label {
  opacity: .2;
}

.small.label {
  height: 18px;
  padding-left: 28px;
}

.large.label {
  height: 48px;
  padding-left: 58px;
}

.motion-path {
  position: relative;
  width: 256px;
  margin: auto;
}

.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}

.align-center {
  align-items: center;
}

.add-states-demo .el {
  border: 1px solid rgba(0,0,0,0);
}

#cssProperties .el {
  transform: translate3d(0,0,0);
}

/* Responsive */

.visualization {
  display: none;
  /* width: 100%; */
  /* position: fixed; */
  /* left: 0; */
}

.poems {
  top: 60px;
  width: 100%;
  min-width: auto;
  height: calc(100% - 60px);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 800px) {
  .header {
    width: 239px;
  }
  .visualization {
    display: inherit;
    width: calc(100% - 380px);
    position: relative;
  }
  .poems {
    top: 0;
    width: 380px;
    height: 100%;
  }
  .poems::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }

  .poems::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.65);
  }

  .poems::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.3);
  }

  .poems::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,.6);
  }
}

@media (min-width: 1100px) {

  .poems {
    width: calc(50% - 240px);
  }
  .visualization {
    width: 50%;
  }
}

@font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roobert-Regular.woff2") format("woff2");
 }
 
 @font-face {
  font-family: "Roobert";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Roobert-Regular.woff2") format("woff2");
 }
 
 @font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Roobert-SemiBold.woff2") format("woff2");
 }
 
 @font-face {
  font-family: "Roobert";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Roobert-SemiBoldItalic.woff2") format("woff2");
 }
 
 @font-face {
   font-family: "InputMono";
   src: url("../fonts/InputMono-Regular.woff2") format("woff2"),
       url("../fonts/InputMono-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }
 
 @font-face {
   font-family: "InputMono";
   src: url("../fonts/InputMono-Bold.woff2") format("woff2"),
       url("../fonts/InputMono-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
 }
 
 @font-face {
   font-family: "InputMono";
   src: url("../fonts/InputMono-BoldItalic.woff2") format("woff2"),
       url("../fonts/InputMono-BoldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
 }
 
 @font-face {
   font-family: "InputMono";
   src: url("../fonts/InputMono-Italic.woff2") format("woff2"),
       url("../fonts/InputMono-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
 }
 
 *, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
 }
 
 html,
 body {
   background-color: #252423;
   color: #F6F4F2;
 }
 
 body {
   font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
   font-weight: 400;
   font-feature-settings:"tnum" 1, "ss03" 1;
   -webkit-font-smoothing: antialiased;
 }
 
 h1, h2 {
   font-weight: 600;
 }
 
 input {
   font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
   font-variant-numeric: tabular-nums;
 }
 
 sup {
   vertical-align: super;
   font-size: .625em;
 }
 
 strong {
   font-weight: 600;
 }
 
 .color-white { color: #F6F4F2; } /* White */
 .color-black { color: #2E2C2C; } /* Black */
 .color-red, .color-targets { color: #FF4B4B; }/* red: */
 .color-orange, .color-properties { color: #FF8F42; }/* orange: */
 .color-lightorange, .color-prop-params { color: #FFC730; }/* lightorange: */
 .color-yellow, .color-anim-params { color: #F6FF56; }/* yellow: */
 .color-citrus, .color-values { color: #A4FF4F; }/* citrus: */
 .color-green, .color-keyframes { color: #18FF74; }/* green: */
 .color-darkgreen, .color-staggering { color: #00D672; }/* darkgreen: */
 .color-turquoise, .color-tl { color: #3CFFEC; }/* turquoise: */
 .color-skyblue, .color-controls { color: #61C3FF; }/* skyblue: */
 .color-kingblue, .color-callbacks { color: #5A87FF; }/* kingblue: */
 .color-lavender, .color-svg { color: #8453E3; }/* lavender: */
 .color-purple, .color-easings { color: #C26EFF; }/* purple: */
 .color-pink, .color-helpers { color: #FB89FB; }/* pink: */
 
 .moon-logo {
   width: 24px;
   height: 24px;
 }



